rpi_app/nodered/flows.json
[
    {
        "id": "0060dc5c745d23c2",
        "type": "tab",
        "label": "Rele",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b6c6b16532b879dc",
        "type": "tab",
        "label": "Semaforo Fijo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fbb458de51d55b95",
        "type": "tab",
        "label": "Semaforo Parpadeo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acd88b0b3b7ab751",
        "type": "tab",
        "label": "Lector RFID",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7b6b42448d52f121",
        "type": "tab",
        "label": "MQTT Semaforo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7bded7663a4cebb6",
        "type": "tab",
        "label": "Semaforo Modbus sonido",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "970e20cfc929046d",
        "type": "tab",
        "label": "RPI to Automate",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "368919f2bf3add27",
        "type": "modbus-client",
        "name": "PRUEBA",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyAMA2",
        "serialType": "RTU",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "42f7fc96474d1e01",
        "type": "modbus-client",
        "name": "Semaforo-rs485",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyAMA3",
        "serialType": "RTU",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "26eb138019834ba2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "da94e0c8aa1a5242",
        "type": "inject",
        "z": "0060dc5c745d23c2",
        "name": "Leer estado relés",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "f6d261e461bad61f",
        "type": "debug",
        "z": "0060dc5c745d23c2",
        "name": "Estado relés",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "da3b73686838dea7",
        "type": "modbus-read",
        "z": "0060dc5c745d23c2",
        "name": "Leer 8 relés",
        "topic": "read_coils",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "8",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "368919f2bf3add27",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "f6d261e461bad61f"
            ],
            []
        ]
    },
    {
        "id": "9f38ade250994939",
        "type": "modbus-write",
        "z": "0060dc5c745d23c2",
        "name": "Escribir rele",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "255",
        "quantity": "1",
        "server": "368919f2bf3add27",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 340,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9eae71ed3e87dee5",
        "type": "inject",
        "z": "0060dc5c745d23c2",
        "name": "encender rele",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "9f38ade250994939"
            ]
        ]
    },
    {
        "id": "b96d42c4581aaa11",
        "type": "inject",
        "z": "0060dc5c745d23c2",
        "name": "Apagar rele",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "9f38ade250994939"
            ]
        ]
    },
    {
        "id": "05add6729ec3c422",
        "type": "modbus-write",
        "z": "b6c6b16532b879dc",
        "name": "Semaforo",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "194",
        "quantity": "1",
        "server": "42f7fc96474d1e01",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 380,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "106f5fb2caad12de",
        "type": "inject",
        "z": "b6c6b16532b879dc",
        "name": "Semaforo rojo",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "17",
        "payloadType": "num",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "05add6729ec3c422"
            ]
        ]
    },
    {
        "id": "349ce594e5a097ac",
        "type": "inject",
        "z": "b6c6b16532b879dc",
        "name": "Semaforo Amarillo",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "18",
        "payloadType": "num",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "05add6729ec3c422"
            ]
        ]
    },
    {
        "id": "b0d9ae3f8ca4798e",
        "type": "inject",
        "z": "b6c6b16532b879dc",
        "name": "Semaforo Verde",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "19",
        "payloadType": "num",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "05add6729ec3c422"
            ]
        ]
    },
    {
        "id": "6b0d9da5d8618b32",
        "type": "inject",
        "z": "b6c6b16532b879dc",
        "name": "Semaforo Apagado",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "96",
        "payloadType": "num",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "05add6729ec3c422"
            ]
        ]
    },
    {
        "id": "df97cded621d2d90",
        "type": "modbus-write",
        "z": "fbb458de51d55b95",
        "name": "Semaforo",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "194",
        "quantity": "1",
        "server": "42f7fc96474d1e01",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e37c3988dc8e38bc",
        "type": "inject",
        "z": "fbb458de51d55b95",
        "name": "Semaforo rojo",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "33",
        "payloadType": "num",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "df97cded621d2d90"
            ]
        ]
    },
    {
        "id": "0ef2f23ff617a714",
        "type": "inject",
        "z": "fbb458de51d55b95",
        "name": "Semaforo Amarillo",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "34",
        "payloadType": "num",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "df97cded621d2d90"
            ]
        ]
    },
    {
        "id": "1c551a62c9330204",
        "type": "inject",
        "z": "fbb458de51d55b95",
        "name": "Semaforo Verde",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "35",
        "payloadType": "num",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "df97cded621d2d90"
            ]
        ]
    },
    {
        "id": "ea6c0744b08d6c6f",
        "type": "inject",
        "z": "fbb458de51d55b95",
        "name": "Semaforo Apagado",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "96",
        "payloadType": "num",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "df97cded621d2d90"
            ]
        ]
    },
    {
        "id": "01867e869357cddb",
        "type": "mqtt in",
        "z": "acd88b0b3b7ab751",
        "name": "Lector RFID - MQTT",
        "topic": "rfid/access",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "26eb138019834ba2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "ad1a97d61ca91523",
                "ce26ced209269588"
            ]
        ]
    },
    {
        "id": "ad1a97d61ca91523",
        "type": "debug",
        "z": "acd88b0b3b7ab751",
        "name": "Lectura de RFID",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "ce26ced209269588",
        "type": "function",
        "z": "acd88b0b3b7ab751",
        "name": "RFID to BD",
        "func": "// Configuración de headers para Supabase\nmsg.headers = {\n    \"apikey\": \"<eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN6eHlmenhqd3pheWt3b3h5amFoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDQyODMwMCwiZXhwIjoyMDY2MDA0MzAwfQ.4An36Hs_o_aiTGfqpRC85L4jMfhfWgbAthypB0QL0yU>\",\n    \"Authorization\": \"Bearer <eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN6eHlmenhqd3pheWt3b3h5amFoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDQyODMwMCwiZXhwIjoyMDY2MDA0MzAwfQ.4An36Hs_o_aiTGfqpRC85L4jMfhfWgbAthypB0QL0yU>\",\n    \"Content-Type\": \"application/json\"\n};\n\n// Prepara payload para insertar\nmsg.payload = {\n    id_operador: msg.payload,   // la lectura del RFID\n    procesado: false\n};\n\n// URL de la tabla Supabase\nmsg.url = \"https://czxyfzxjwzaykwoxyjah.supabase.co/rest/v1/lecturas_rfid\";\nmsg.method = \"POST\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "433a5d4825c835d3",
        "type": "mqtt in",
        "z": "7b6b42448d52f121",
        "name": "maquina",
        "topic": "maquina/9991/estado",
        "qos": "0",
        "datatype": "utf8",
        "broker": "26eb138019834ba2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "7d86a35b03ee7764",
                "404d7c5191cdf37d"
            ]
        ]
    },
    {
        "id": "7d86a35b03ee7764",
        "type": "debug",
        "z": "7b6b42448d52f121",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "494df80bac7b3978",
        "type": "function",
        "z": "7b6b42448d52f121",
        "name": "function 2",
        "func": "// Filtrar solo la máquina 9991\nif(msg.payload.maquina === '9991') {\n    switch(msg.payload.estado) {\n        case 'Rojo':\n            msg.payload = 33;\n            break;\n        case 'Amarillo':\n            msg.payload = 34;\n            break;\n        case 'Verde':\n            msg.payload = 19;\n            break;\n        default:\n            msg.payload = 0; // opcional, por si hay error\n    }\n    return msg;\n} else {\n    return null; // ignorar otras máquinas\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 280,
        "wires": [
            [
                "c2e5071cc588fee4",
                "2cb7c99664092a65"
            ]
        ]
    },
    {
        "id": "c2e5071cc588fee4",
        "type": "modbus-write",
        "z": "7b6b42448d52f121",
        "name": "Estado Semaforo",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "194",
        "quantity": "1",
        "server": "42f7fc96474d1e01",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1090,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2cb7c99664092a65",
        "type": "debug",
        "z": "7b6b42448d52f121",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 200,
        "wires": []
    },
    {
        "id": "2a1fcc7c13e1e070",
        "type": "json",
        "z": "7b6b42448d52f121",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "494df80bac7b3978",
                "4839b87d7d789d91"
            ]
        ]
    },
    {
        "id": "404d7c5191cdf37d",
        "type": "function",
        "z": "7b6b42448d52f121",
        "name": "function 3",
        "func": "msg.payload = msg.payload.replace(/'/g, '\"');\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "2a1fcc7c13e1e070"
            ]
        ]
    },
    {
        "id": "4839b87d7d789d91",
        "type": "function",
        "z": "7b6b42448d52f121",
        "name": "function 4",
        "func": "// Filtrar solo la máquina 9991\nif(msg.payload.maquina === '9991') {\n    switch(msg.payload.estado) {\n        case 'Rojo':\n            msg.payload = 1;\n            break;\n        case 'Amarillo':\n            msg.payload = 1;\n            break;\n        case 'Verde':\n            msg.payload = 1;\n            break;\n        default:\n            msg.payload = 0; // opcional, por si hay error\n    }\n    return msg;\n} else {\n    return null; // ignorar otras máquinas\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 360,
        "wires": [
            [
                "a29bb37d878f52b4"
            ]
        ]
    },
    {
        "id": "a29bb37d878f52b4",
        "type": "modbus-write",
        "z": "7b6b42448d52f121",
        "name": "Sonido Semaforo",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "3",
        "quantity": "1",
        "server": "42f7fc96474d1e01",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1090,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b9eb4ae64ba61099",
        "type": "inject",
        "z": "7bded7663a4cebb6",
        "name": "Reproducir Pista",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "97a5c00b721a6e41"
            ]
        ]
    },
    {
        "id": "97a5c00b721a6e41",
        "type": "modbus-write",
        "z": "7bded7663a4cebb6",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "3",
        "quantity": "1",
        "server": "42f7fc96474d1e01",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 460,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "aab139b368be7e6c",
        "type": "http in",
        "z": "970e20cfc929046d",
        "name": "",
        "url": "/data",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "93c8f2349104a14b",
                "983a130b842a552c"
            ]
        ]
    },
    {
        "id": "93c8f2349104a14b",
        "type": "function",
        "z": "970e20cfc929046d",
        "name": "function 1",
        "func": "// Ejemplo: guardar datos en flow context\nflow.set(\"lastData\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "d251840782473043"
            ]
        ]
    },
    {
        "id": "d251840782473043",
        "type": "http response",
        "z": "970e20cfc929046d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "1d884302ffa9db39",
        "type": "http in",
        "z": "970e20cfc929046d",
        "name": "",
        "url": "/send",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "899c8ca082ee767e",
                "a7fb0de87d308c8e"
            ]
        ]
    },
    {
        "id": "899c8ca082ee767e",
        "type": "function",
        "z": "970e20cfc929046d",
        "name": "function 5",
        "func": "// Recuperar datos guardados en flow context\nlet datos = flow.get(\"lastData\") || { estado: \"sin datos\" };\nmsg.payload = datos;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 240,
        "wires": [
            [
                "53595b56f5712349"
            ]
        ]
    },
    {
        "id": "53595b56f5712349",
        "type": "http response",
        "z": "970e20cfc929046d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "983a130b842a552c",
        "type": "debug",
        "z": "970e20cfc929046d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "a7fb0de87d308c8e",
        "type": "debug",
        "z": "970e20cfc929046d",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 340,
        "wires": []
    },
    {
        "id": "d9d48d7ffcea0af2",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.44.1"
        }
    }
]